
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 17px;
}

body{
    background-color: #fff;
    
}

.menu{
    padding: 10px;
    background-color: #4c89e3;
    color: #fff;
    display: flex;
    align-items: center;
    
}

.menu a{
    color: #fff;
    margin: 10px;
    font-size: 18px;
    font-family: sans-serif;
   
    
}

input{
    margin:3px;
}

form{
    margin-left: 15px;
}

.blocobtn{
   display: flex;
   margin-bottom: 20px;
}

.btn{
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.btnExcluir_alterar{
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 65px;
}

button{
    padding: 4px;
    width: 100px;
    color: #fff;
    background-color: #4c89e3;
    border: 1px solid #000
}

button:hover{
    cursor: pointer;
    background-color: #4c0fff;
    transition: 500ms linear;
}

button:active{
    background-color: #ccc;
    transition: 0ms linear;
}



